---
const { title } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <!-- Cloudflare Web Analytics -->
    <script
        defer
        src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon='{"token": "577acb99c153418591ad24dae02daa07"}'></script>
    <!-- End Cloudflare Web Analytics -->
    <ClientRouter />
</head>
