---
import NavLink from "./NavLink.astro";
---

<header class="mt-2">
    <h1 class="mx-4 text-lg capitalize font-extrabold">
        System Log / [Stylix]
    </h1>
    <nav class="">
        <ul class="flex flex-row gap-2 mx-4 my-2">
            <NavLink href="/">Home</NavLink>
            <NavLink href="/posts">Writing</NavLink>
            <NavLink href="/misc">Misc</NavLink>
            <NavLink href="https://old.stylix.xyz">Archived?</NavLink>
        </ul>
    </nav>
</header>
