---
import NavLink from "./NavLink.astro";
---

<header class="mt-2 sticky top-10 z-50">
    <h1 class="mx-4 text-lg capitalize font-extrabold">
        SYSTEM LOG / [STYLIX]
    </h1>
    <nav class="">
        <ul class="flex flex-row md:flex-col gap-2 mx-4 md:mx-8 my-4">
            <NavLink href="/">Home</NavLink>
            <NavLink href="/posts">Writing</NavLink>
            <NavLink href="/misc">Misc</NavLink>
            <NavLink href="https://old.stylix.xyz">Archived?</NavLink>
        </ul>
    </nav>
</header>
