---
import { getEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { render } from "astro:content";
import Prose from "../../components/Prose.astro";

const miscEntry = await getEntry("misc", "misc");

const { Content } = await render(miscEntry!);
---

<BaseLayout>
    <Prose>
        <h1 class="font-bold">Misc</h1>
        <Content />
    </Prose>
</BaseLayout>
