---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <BaseHead title={title} />
    <body class="min-h-screen max-w-5xl flex flex-col mx-4 lg:mx-auto">
        <div
            class="flex flex-col md:flex-row items-start flex-1 mt-8 md:mt-20 lg:mt-32"
        >
            <Header />
            <main class="flex-1 my-12 mx-4">
                <slot />
            </main>
        </div>

        <Footer />
    </body>
</html>
